@media screen and (min-width: 805px) {
    .gallery-4-wrapper {
        background-image: url("smart-glasses.webp");
        background-size: 1000%;
        background-position: center;
        background-size: cover;
        height: auto;
        animation: autoZoom 3s alternate forwards;
    }

    .gallery-8-wrapper {
        background-image: url("nano-esp32.webp");
        background-size: 1000%;
        background-position: center;
        background-size: cover;
        height: auto;
        animation: autozoomSmall 3s alternate forwards;
    }

    .project {
        font-size: 20px;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

}

@media only screen and (min-width: 768px) {
    
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    a {
        font-size: 1rem;
    }
}

@keyframes autoZoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(2);
    }
}

@keyframes autozoomSmall {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
        background-position-y: -130px;
    }
}

@media only screen and (min-width: 700px) {
    .project {
        font-size: 20px;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    .people {
        display: flex;
        margin: auto;
    }

    .caleb {
        display: block;
    }

    .binbin {
        display: block;
    }

    .raver {
        display: block;
    }

    .gallery-1,
    .gallery-2,
    .gallery-3,
    .gallery-5,
    .gallery-6,
    .gallery-7 {
        width: 2%;
        height: 300px;
        background: rgba(255, 255, 255, 0.322);
        box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.6);
    }

    .navbar {
        word-spacing: 10px;
    }


}
.image{
    width: 100%;          
    max-width: 500px;     
    height: auto; 
    border-radius: 10px;
}

.navbar {
    background-color: rgb(245, 243, 243);
    color: rgb(39, 39, 39);
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    font-family: "Rubik", sans-serif;
    padding: 15px;
}


.hover {
    display: inline-block;
    transition: transform 0.2s;
}

.hover:hover {
    color: rgb(133, 133, 133);
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

p {
    text-shadow: 4px 4px 17px rgba(0, 0, 0, 0.6);
}

h3 {
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

.header {
    text-align: center;
}

body {
    font-family: "Rubik", sans-serif;
}



.line {
    height: 2px;
    width: 100%;
    margin: auto;
    background-color: black;
}

.gallery-1,
.gallery-2,
.gallery-3,
.gallery-4,
.gallery-5,
.gallery-6,
.gallery-7,
.gallery-8 {
    width: 40%;
    height: 300px;
    background: rgba(255, 255, 255, 0.322);
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.6);
    transform: scale(1);
    color: white;
}

.gallery-5 {
    background-image: url("m5stack.webp");
    background-size: cover;
    background-position-x: -20px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.gallery-6 {
    background-image: url("s2mini.webp");
    background-size: cover;
    background-position-x: -17px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.gallery-7 {
    background-image: url("allnewstep.webp");
    background-size: cover;
    background-position-x: -17px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.gallery-1 {
    background-image: url("nano.webp");
    background-size: cover;
    background-position-x: -20px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.gallery-2 {
    background-image: url("uno.webp");
    background-size: cover;
    background-position-x: -17px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.gallery-3 {
    background-image: url("pico.webp");
    background-size: cover;
    background-position-x: -17px;
    background-repeat: no-repeat;
    max-width: 100%;
}

.gallery-4 {
    width: 100%;
    height: 250px;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.6);
    max-width: 100%;
}

.gallery-4 {
    background-image: url("smart-glasses.webp");
    background-size: 784px;
    background-position-x: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.gallery-4-wrapper {
    background-image: url("smart-glasses.webp");
    background-size: 784px;
    background-position-x: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.gallery-8 {
    width: 100%;
    height: 250px;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.6);
    max-width: 100%;
}

.gallery-8 {
    background-color: #B9B16A;
    background-image: url("nano-esp32.webp");
    background-size: 784px;
    background-position-x: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.gallery-8-wrapper {
    background-image: url("nano-esp32.webp");
    background-size: 784px;
    background-position-x: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.gallery-box {
    display: flex;
    justify-content: space-around;
}

.intro {
    display: flex;
}

.projectdesc {
    flex: 1;
    display: flex;
    /* Makes vertical centering precise */
    flex-direction: column;
    justify-content: center;
    /* Centers content inside text box */
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
}